---
import FormPredict from "./FormPredict.astro";
---

<!-- aplicacion predictora de ataque al corazon -->
<section class="text-white py-10 max-w-xl mx-auto ">
    <div class="mt-0 flex flex-col gap-5">
        <h2 class="font-bold text-3xl text-blue-300 text-center ">Formulario del paciente</h2>
        <FormPredict />
    </div>
    <div class="py-8">
        <h4 class="text-center font-bold text-3xl">
            Segun los datos ingresados, el paciente tiene un <span id="prob-predict" class="text-red-600"> ?? </span> de probabilidad de sufrir un ataque al corazon.
        </h4>
    </div>
    <div class="py-4">
        <h4 class="text-center font-bold text-3xl text-green-600" id="result-predict">
            
        </h4>
    </div>
</section>


<!-- load model in pkl -->