---
import FormPredict from "./FormPredict.astro";
---

<!-- aplicacion predictora de ataque al corazon -->
<section class="text-white py-10 max-w-xl mx-auto ">
    <div class="mt-0 flex flex-col gap-5">
        <h2 class="font-bold text-3xl text-blue-300 text-center uppercase ">Formulario del paciente</h2>
        <FormPredict />
    </div>
    <div class="py-8">
        <h4 class="text-center font-bold text-3xl text-black dark:text-white" id="result-predict">
            
        </h4>
    </div>
</section>


<!-- load model in pkl -->