---
import FormPredict from "./FormPredict.astro";
---

<!-- aplicacion predictora de ataque al corazon -->
<section class="text-white py-10 max-w-3xl mx-auto ">
    <div class="mt-0 flex flex-col gap-5 w-full">
        <img src="https://i.imgur.com/QCTlug8.png" alt="Descripción de la imagen" class="mx-auto mb-4 w-1/2">
        <h2 class="font-bold text-3xl text-blue-300 text-center uppercase ">Formulario del paciente</h2>
        <FormPredict />
    </div>
    <div class="py-8">
        <h4 class="text-center font-bold text-3xl text-black dark:text-white" id="result-predict">  
        </h4>
    </div>
    <dialog id="dialog" class="bg-white dark:bg-gray-800 text-black dark:text-white rounded-lg shadow-lg p-6 max-w-md mx-auto">
        <div class="flex flex-col gap-4">
            <h3 class="text-xl font-bold">Resultado de la predicción</h3>
            <p id="dialog-message" class="text-3xl">El resultado de la predicción se mostrará aquí.</p>
            <button id="close-dialog" class="bg-blue-500 text-white py-2 px-4 rounded" 
            onclick="document.getElementById('dialog').close();">Cerrar</button>
        </div>
    </dialog>
</section>

<style>
    #dialog::backdrop {
  background: linear-gradient(#000d, #000a);
}
#dialog {
  opacity: 0;
  transition:
    display 0.5s allow-discrete,
    overlay 0.5s allow-discrete,
    translate 0.5s,
    opacity 0.5s;
  translate: 0 50%;
  will-change: translate, opacity;
}

#dialog[open] {
  opacity: 1;
  translate: 0;
  @starting-style {
    opacity: 0;
    translate: 0 50%;
  }
}
</style>

<!-- load model in pkl -->