    ---
    import FormPredict from "./FormPredict.astro";
    ---

    <!-- aplicacion predictora de ataque al corazon -->
    <section class="text-white py-10 max-w-xl mx-auto ">
        <div class="mt-0 flex flex-col gap-5">
            <h2 class="font-bold text-3xl text-blue-300 text-center uppercase">Formulario del paciente</h2>
            <!-- Agregar imagen debajo del título -->
            <img src="https://i.imgur.com/QCTlug8.png" alt="Descripción de la imagen" class="mx-auto my-4 w-1/2">
            <FormPredict />
        </div>
    </section

    <!-- load model in pkl -->