<header class=" text-white py-8">
    <div class="max-w-3xl mx-auto flex justify-between items-center px-4">
        <h1 class="text-4xl font-bold uppercase text-center">
            Aplicación de predicción de ataque al corazón
        </h1>
    </div>
</header>