<header class="bg-slate-800 text-white py-4">
    <div class="max-w-xl mx-auto flex justify-between items-center px-4">
        <h1 class="text-4xl font-bold uppercase">
            predictora de ataque cardiaco
        </h1>
        <img src="https://i.imgur.com/QCTlug8.png" alt="heart" class="w-20 h-20">
    </div>
</header>